.header {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    font-family: 'Gill Sans Extrabold', sans-serif;
    font-weight: normal;
    font-size: 3vw;
    transform: translate(-50%, -50%)
}
