/* .bg {
    width: '100%';
    height: '1050px';
    backgroundImage: url(../images/bg-2.jpg);
    backgroundSize: 'cover';
} */

.header {
    /* margin-top: 0;
    height: 700px;
    width: 1500px;
    line-height: 700px;
    text-align: center; */
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    font-family: 'Gill Sans Extrabold', sans-serif;
    font-weight: normal;
    font-size: 3vw;
    transform: translate(-50%, -50%)
}