.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-div {
    display: inline-block;
    list-style-type: none;
}

.nav-li {
    float: left;
    /* border-right: 1px solid #bbb;
    border-left: 1px solid #bbb; */
    font-size: 20px;
    padding-top: 20px;
    margin-left: 80px;
    margin-right: 80px;

    position: relative;
}

.navlink {
    display: block;
    padding: 8px;
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
}

.navlink:hover {
    color: black;
}

.navlink:before {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: black;
    position: relative;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

.navlink:hover::before {
    width: 100%;
}